.navbar {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.nav-link {
  color: #fff !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--bs-primary) !important;
}

.navbar .fab {
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.navbar .fab:hover {
  color: var(--bs-primary);
  transform: scale(1.1);
}
